li {
  list-style-type: none;
}
body{
  margin: auto;
  width: 90%;
  
  align-items: center;
}
.Create{
 width: 15%;
 
 margin: auto;
 align-items: center;
}
.Form{
  margin-top: 10px;
  margin-left: 5px;
}